pandas的数据转换函数：map、apply、applymap
1. map：只用于series，实现每个值->值的映射
2. apply：用于series实现每个值的处理，用于df实现某个轴的series的处理
3. applymap：只能用于df，用于处理df中的每个元素

1. map用于series值的转换
实例：将股票代码英文名字转换为中文名字
series.map(dict) or series.map(function)均可

In [1]:
import pandas as pd
df=pd.read_csv('./data/stock/stock.csv')
df.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅
0  2023/3/27  BABA  86.12  87.13  88.22  85.50  18.18M  -0.90%
1  2023/3/24  BABA  86.90  85.87  88.11  85.63  20.35M   0.44%
2  2023/3/23  BABA  86.52  87.68  88.38  85.26  26.79M   3.43%
3  2023/3/22  BABA  83.65  84.84  85.39  83.51  21.08M  -0.06%
4  2023/3/21  BABA  83.70  82.46  84.09  82.00  16.44M   3.33%

In [2]:
df['公司'].unique()

array(['BABA', 'JD', 'BAIDU'], dtype=object)

In [9]:
# 公司名字的中文映射
dict_company_name={
    'baba':'阿里巴巴',
    'baidu':'百度',
    'jd':'京东'
}

方法1：series.map(dict)

In [11]:
df['中文名字1']=df['公司'].str.lower().map(dict_company_name)
df.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 中文名字1 中文名字2
0  2023/3/27  BABA  86.12  87.13  88.22  85.50  18.18M  -0.90%  阿里巴巴  阿里巴巴
1  2023/3/24  BABA  86.90  85.87  88.11  85.63  20.35M   0.44%  阿里巴巴  阿里巴巴
2  2023/3/23  BABA  86.52  87.68  88.38  85.26  26.79M   3.43%  阿里巴巴  阿里巴巴
3  2023/3/22  BABA  83.65  84.84  85.39  83.51  21.08M  -0.06%  阿里巴巴  阿里巴巴
4  2023/3/21  BABA  83.70  82.46  84.09  82.00  16.44M   3.33%  阿里巴巴  阿里巴巴

方法2：series.map(function)

In [12]:
df['中文名字2']=df['公司'].map(lambda x: dict_company_name[x.lower()])
df.head()

          日期    公司     收盘     开盘      高      低     交易量     涨跌幅 中文名字1 中文名字2
0  2023/3/27  BABA  86.12  87.13  88.22  85.50  18.18M  -0.90%  阿里巴巴  阿里巴巴
1  2023/3/24  BABA  86.90  85.87  88.11  85.63  20.35M   0.44%  阿里巴巴  阿里巴巴
2  2023/3/23  BABA  86.52  87.68  88.38  85.26  26.79M   3.43%  阿里巴巴  阿里巴巴
3  2023/3/22  BABA  83.65  84.84  85.39  83.51  21.08M  -0.06%  阿里巴巴  阿里巴巴
4  2023/3/21  BABA  83.70  82.46  84.09  82.00  16.44M   3.33%  阿里巴巴  阿里巴巴

2. apply用于series和df的转换
- series.apply(function),函数的参数是每个值
- df.apply(function),函数的参数是series

series.apply(function)
函数的参数是每个值

In [13]:
df['中文名字3']=df['公司'].apply(
    lambda x:dict_company_name[x.lower()]
)
df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,中文名字1,中文名字2,中文名字3
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴,阿里巴巴
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴,阿里巴巴
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴,阿里巴巴
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴,阿里巴巴
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴,阿里巴巴

df.apply(function)
函数的参数是series

In [15]:
df['中文名字4']=df.apply(
    lambda x: dict_company_name[x['公司'].lower()],axis=1
)
df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,中文名字1,中文名字2,中文名字3,中文名字4
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

注意这个代码：
    1. apply是在df上调用的
    2. lambda x的x是一个series，因为指定了axis=1，所以series的key是列明，可以用x['公司']获取到

3. applymap用于df所有值的转换

In [18]:
sub_df=df[['收盘','开盘','高','低']]

In [19]:
sub_df.head()

      收盘     开盘      高      低
0  86.12  87.13  88.22  85.50
1  86.90  85.87  88.11  85.63
2  86.52  87.68  88.38  85.26
3  83.65  84.84  85.39  83.51
4  83.70  82.46  84.09  82.00

In [20]:
# 将这些数字取整数，应用于所有元素
sub_df.applymap(lambda x : int(x))

     收盘   开盘    高    低
0    86   87   88   85
1    86   85   88   85
2    86   87   88   85
3    83   84   85   83
4    83   82   84   82
5    81   80   81   79
6    81   84   84   80
7    82   81   82   80
8    81   81   82   80
9    83   82   83   82
10   82   83   83   81
11   82   82   84   82
12   83   85   85   82
13   86   87   87   86
14   88   89   90   88
15   89   89   91   88
16   89   90   90   88
17   89   88   90   87
18   89   92   92   89
19   87   88   89   87
20   39   39   39   39
21   40   39   40   39
22   40   40   40   39
23   38   39   39   38
24   39   38   39   38
25   38   38   39   37
26   38   39   39   38
27   39   39   40   38
28   39   39   39   38
29   40   39   40   39
30   40   39   40   39
31   40   40   41   40
32   41   44   44   41
33   46   45   47   45
34   46   47   47   46
35   47   47   48   47
36   47   47   48   47
37   47   45   47   45
38   45   46   46   45
39   44   44   45   43
40  149  156  157  147
41  154  148  159  148
42  150  145  151  144
43  146  147  149  145
44  148  146  149  143
45  143  146  148  141
46  142  135  146  134
47  125  131  134  120
48  133  134  138  133
49  129  132  134  128
50  134  131  136  129
51  129  128  131  128
52  137  140  141  137
53  139  141  141  137
54  144  147  149  142
55  147  149  150  145
56  149  148  150  146
57  141  141  142  139
58  145  135  146  135
59  134  137  138  134

In [21]:
df.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,中文名字1,中文名字2,中文名字3,中文名字4
0,2023/3/27,BABA,86.12,87.13,88.22,85.50,18.18M,-0.90%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
1,2023/3/24,BABA,86.90,85.87,88.11,85.63,20.35M,0.44%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
2,2023/3/23,BABA,86.52,87.68,88.38,85.26,26.79M,3.43%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
3,2023/3/22,BABA,83.65,84.84,85.39,83.51,21.08M,-0.06%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023/3/21,BABA,83.70,82.46,84.09,82.00,16.44M,3.33%,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

In [24]:
# 直接修改原表
df.loc[:,['收盘','开盘','高','低']]=sub_df.applymap(lambda x : int(x))

C:\Users\xiaom\AppData\Local\Temp\ipykernel_24272\1653233000.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,['收盘','开盘','高','低']]=sub_df.applymap(lambda x : int(x))

In [25]:
df.head()

          日期    公司  收盘  开盘   高   低     交易量     涨跌幅 中文名字1 中文名字2 中文名字3 中文名字4
0  2023/3/27  BABA  86  87  88  85  18.18M  -0.90%  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
1  2023/3/24  BABA  86  85  88  85  20.35M   0.44%  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
2  2023/3/23  BABA  86  87  88  85  26.79M   3.43%  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
3  2023/3/22  BABA  83  84  85  83  21.08M  -0.06%  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
4  2023/3/21  BABA  83  82  84  82  16.44M   3.33%  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴